# Data
data/raw/
data/processed/
data/splits/

# Outputs
outputs/
models/

# Checkpoints
*.pt
*.pth

# Embeddings and index
*.npy
*.npz
*.faiss

# Logs
*.log

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/
.env/

# Environment variables
.env

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Temp
*.tmp
*.zip