# Data
data/raw/
data/processed/
data/splits/

# Outputs
outputs/
models/

# Checkpoints
*.pt
*.pth

# Numpy
*.npy
*.npz

# Logs
*.log

# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Temp
*.tmp
*.zip